<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <%- include('../common/head.ejs', {page: page}); %>
    <link rel="stylesheet" href="/src/css/works.css">
    <link rel="stylesheet" href="/src/css/tags.css">

    <title><%= page.title + " - " + config.siteName %></title>
</head>

<body>
    <main class="main">

    <%- include('../common/nav.ejs', {config: config}); %>

    <div class="main-container">
        <h1><%= tag.name %></h1>
        <div class="content-area">
            <ul class="displayed-contents">
                <% for (let i = 0; i < tag.items.length; i++) {
                    let now = tag.items[i];
                %>
                <li class="displayed-content">
                    <a href="<%= now.link %>">
                        <h2 class="content-title"><%= now.title %></h2>
                        <p class="content-description"><%= now.description %></p>
                        <div class="content-infos">
                            <span class="content-categorie"><%= now.category %></span>
                            <span class="content-auther"><%= now.auther %></span>
                            <span class="content-date push"><%= now.date %></span>
                        </div>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>

    </div>

    <%- include('../common/footer.ejs', {config: config}); %>
    
    </main>
</body>
</html>